.chatContainer {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}
.chat__header {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
  h3 {
    margin-bottom: 3px;
    font-weight: 500;
  }
  p {
    color: gray;
  }
}
.chat__chatHeaderRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
.chat__body {
  flex: 1;
  background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png");
  background-repeat: repeat;
  background-position: center;
  overflow: scroll;
  padding: 30px;
}
.chat__message {
  font-size: 16px;
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 30px;
}
.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}
.chat__reciver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
  .MuiSvgIcon-root {
    padding: 3px;
    color: gray;
  }
  form {
    flex: 1;
    display: flex;
    input {
      flex: 1;
      border-radius: 30px;
      outline: none;
      padding: 10px;
      border: none;
    }
    button {
      display: none;
    }
  }
}
